<body>
    <%- include('admin_header.ejs') %>

        <div class="pro">
            <h1 class="main_title">
                <%= project.title %>
            </h1>
            <h3>( <%= project.category %> )</h3>
            <p>발제 날짜: <%= project.start.toLocaleDateString('ko-KR') %>
            </p>
            <p>마감 날짜: <%= project.end.toLocaleDateString('ko-KR') %>
            </p>
        </div>
        <button class="teambtn1"><a href="/teams/project/<%= project.id %>">팀 확인하기</a></button>
        <button class="teambtn2"><a href="/admin/createteam/<%= project.id %>">팀 생성하기</a></button>

</body>